version: "3.9"

networks:
  monitoring:

volumes:
  grafana-data:
  prometheus-data:

services:

  node-exporter:
    image: prom/node-exporter
    networks:
      - monitoring
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    networks:
      - monitoring
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    networks:
      - monitoring
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
